<div class="page">
  <div class="banner">
    <div>
      <%= form_with url: favorites_path, method: :get do |f| %>
      <div>
          <%= f.collection_select :game, @games, :id, :name, :include_blank => true  %>
          <%= f.submit "Add game" %>
      </div>
      <% end %>
    </div>
    <div>
  Submit
  </div>
  </div>
  <div class="cards-container">
    <% @favorites.each do |favorite| %>
      <div class="game-card">
        <div class="card-blur">
          <%= image_tag "#{favorite.game.cover}", class: "game-cover"%>
        </div>
        <div class="secret">
          <p>See more</p>
          <p><%= favorite.game.rating.to_i %>/100</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
