<div class="page">
  <div class="banner">
    <div>
      <%= form_with url: favorites_path, method: :get do |f| %>
      <div>
          <%= f.collection_select :game, @games, :id, :name, :include_blank => true  %>
          <%= f.submit "Add game" %>
      </div>
      <% end %>
    </div>
    <div>
  Submit
  </div>
  </div>
  <div class="cards-container">
    <% @favorites.each do |favorite| %>
      <%= link_to game_path(favorite.game) do %>
        <%= render partial: "game", locals: { game: favorite.game} %>
      <% end %>
    <% end %>
  </div>
</div>
