<div class="page" data-controller="searchbar" data-action="click->searchbar#close">
  <div class="searchbarcontainer">
    <div data-searchbar-target="searchdiv">
      <div class="d-flex justify-content-center">
        <%= form_with url: favorites_path, method: :get, html: { class: "m-2", autocomplete: "off", data: {searchbar_target: "form"}} do |f| %>
        <%= f.text_field :query,
                        class: "form-control searchbar",
                        placeholder: "Search for your favorite game !",
                        value: params[:query],
                        data: {searchbar_target: "input",
                        action: "keyup->searchbar#update"} %>
        <% end %>
        <%= link_to "Suggested for me", suggestions_path, class: "button button-small" %>
      </div>
      <ul data-searchbar-target="list" class="searchbarlist">
        <%= render 'list', games: @games %>
      </ul>
    </div>
  </div>
  <div class="cards-container">
    <% @favorites.each do |favorite| %>
      <%= link_to game_path(favorite.game) do %>
        <%= render partial: "game", locals: { game: favorite.game, favorite: favorite } %>
      <% end %>
    <% end %>
  </div>
</div>
