<div class="page">
  <div class="searchbarcontainer">
    <div data-controller="searchbar">
      <%= form_with url: favorites_path, method: :get, html: {class: "mb-4", data: {searchbar_target: "form"}} do |f| %>
      <%= f.text_field :query,
                      class: "form-control searchbar",
                      placeholder: "Search for your favorite game !",
                      value: params[:query],
                      data: {searchbar_target: "input",
                      action: "keyup->searchbar#update"} %>
      <% end %>
      <ul data-searchbar-target="list" class="searchbarlist">
        <%= render 'list', games: @games %>
      </ul>
    </div>
  </div>
  <div class="cards-container">
    <% @favorites.each do |favorite| %>
      <%= link_to game_path(favorite.game) do %>
        <div class="game-card">
          <div>
            <%= image_tag "#{favorite.game.cover}", class: "game-cover"%>
          </div>
          <div class="secret">
            <p><%= favorite.game.rating.to_i %>/100</p>
            <p>See more</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
