<div class="container m-3">

  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <h1><%= @game.name %></h1>
      <h2><%= @game.rating %></h2>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <% @game.screenshots.each do |screenshot| %>
        <div>
          <%= screenshot %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <div>
        <%= @game.cover %>
      </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <% @game.videos.each do |video| %>
        <div>
          <%= video %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <p>Platforms: <% @game.platforms.each do |platform| %>
            <%= platform %>
        <% end %> </p>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <p>Summary: <%= @game.summary %></p>

      <p>Tags: <% @game.tags.each do |tag| %>
            <%= tag %>
        <% end %> </p>

      <div class="">
        <%# <%= link_to "Add to Wishlist", index_path %> %>
        <%# <%= link_to "See Wishlist", index_path %> %>
        <%# <%= link_to "Return to Suggestions", index_path %> %>
      </div>
    </div>
  </div>
</div>
