<div>
  <h1><%= @game.name %></h1>
  <h2> Rating: <%= @game.rating %></h2>
</div>
<div data-controller="carousel" class="swiper-container w-1200 my-5"
    data-carousel-options-value='{
    "loop": true,
    "pagination": { "el": ".swiper-pagination",
                    "dynamicBullets":  "true" },
    "navigation": { "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"}}'>
  <div class="swiper-wrapper">
    <% if @game.videos != nil %>
      <% @game.videos.each do |video| %>
        <div class="swiper-slide">
          <iframe width="1000" height="600"
              src=<%= video %> title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
          </iframe>
        </div>
        <% end %>
      <% end %>
      <% @game.screenshots.each do |screenshot| %>
        <div class="swiper-slide"><%= image_tag screenshot, alt: "Game Screenshot" %></div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div>
    <p>Platforms: <% @game.platforms.each do |platform| %>
        <%= platform %>
      <% end %> </p>
  </div>
  <div>
    <p>Summary: <%= @game.summary %></p>
    <p>Tags: <% @game.tags.each do |tag| %>
        <%= tag %>
    </p>
    <% end %>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
<div>
  <p>Platforms: <% @game.platforms.each do |platform| %>
      <%= platform %>
    <% end %> </p>
</div>
<div>
  <p>Summary: <%= @game.summary %></p>
  <p>Tags: <% @game.tags.each do |tag| %>
      <%= tag %>
  </p>
  <% end %>
</div>
<div>
  <%= link_to "Add to Wishlist", wishlists_path(game_id: @game.id), data: {turbo_method: :post },  class: "button" %>
  <%= link_to "See Wishlist", wishlists_path, class: "button" %>
  <%# <%= link_to "Return to Suggestions", here insert path for Suggestions once it's created  %>

</div>
