<div class="container">
  <div class="title-show">
    <h1><%= @game.name %></h1>
    <h2> <em>Rating : <%= @game.rating.round(1) %>/100</em></h2>
  </div>
    <div class="row d-flex align-items-center">
      <div class="col-7">
        <div data-controller="carousel" class="swiper-container w-600 mt-2"
            data-carousel-options-value='{
              "loop": true,
              "pagination": { "el": ".swiper-pagination",
                              "dynamicBullets":  "true" },
              "navigation": { "nextEl": ".swiper-button-next",
                              "prevEl": ".swiper-button-prev"}}'>
          <div class="swiper-wrapper">
            <% if @game.videos != nil %>
              <% @game.videos.each do |video| %>
                <div class="swiper-slide">
                  <iframe width="500" height="300"
                    src=<%= video %> title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                  </iframe>
                </div>
              <% end %>
            <% end %>
            <% @game.screenshots.each do |screenshot| %>
              <div class="swiper-slide"><%= image_tag screenshot, alt: "Game Screenshot" %></div>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="col-5 show-summary">
        <p></p>
        <p><%= @game.summary %></p>
        <div class="d-flex justify-content-center">
          <%= link_to "Add to wishlist", wishlists_path(game_id: @game.id), data: {turbo_method: :post }, class: "button" %>
          <%= link_to "Add to favorites", favorites_path(game_id: @game.id), data: {turbo_method: :post}, class: "button" %>
        </div>
        <p>
          <i class="fa-solid fa-heart"></i> <strong><%= rand(100..10000) %></strong>
          <i class="fa-solid fa-cart-shopping"></i> <strong><%= rand(100..10000) %></strong>
        </p>
      </div>
      <div class= "col-12 show-infos">
        <div class="row">
          <ul>
            <% @game.platforms.each do |platform| %>
              <li>
                <% if platform.upcase.include?("PC") %>
                  <i class="fa-solid fa-desktop"></i> <%= platform %>
                <% elsif platform.upcase.include?("MAC") %>
                  <i class="fa-solid fa-desktop"></i> <%= platform %>
                <% elsif platform.upcase.include?("PLAY") %>
                  <i class="fa-brands fa-playstation"></i> <%= platform %>
                <% elsif platform.upcase.include?("XBOX") %>
                  <i class="fa-brands fa-xbox"></i> <%= platform %>
                <% else %>
                  <%= platform  %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li><%=truncate(@game.tags.join(", "), length: 100, separator: " ") %></li>
          </ul>
        </div>
        <div class="d-flex justify-content-center col-12">
          <%= link_to "Return to Suggestions", suggestions_path, class: "button" %>
        </div>
      </div>
</div>
