
<div class="item-list">
  <div class="number">
    <p><%= i += 1 %></p>
  </div>
  <div class="card-product">
    <%= image_tag "#{wishlist.game.cover}"%>
    <div class="card-product-infos">
      <h2><%= wishlist.game.name %></h2>
      <p><%= wishlist.game.summary %></p>
      <%= link_to wishlist_path(wishlist), data: {turbo_method: :delete, turbo_confirm: "Remove from wishlist ?"} do%>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
  </div>
</div>
